/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 62.5%;
    background-color: black;
}
body {
    width: 90%;
    background-color: #1f2937;
    margin: 0 auto;
}


/******************************************
/* LAYOUT
/*******************************************/

nav, section, nav ul {
    display: flex;
}
nav h3, nav li, nav ul, .hero section, .hero img, .random figure {
    flex: 1;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.random, .cta {
    background-color: white;
}

.quote {
    background-color: #e5e7eb;
}
